*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Lato, 'sans-serif';
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(160deg, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: relative;
  top: 24vh;
  left: 0;
  text-align: center;
  /* position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 7vh;
  padding-right: 0;
  text-shadow: inherit;
  text-shadow: 2px 2px 2px #b9b7b7;
}

.heading-primary--main {
  position: relative;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 5rem;
  -webkit-animation: moveRight 1s ease-out forwards;
          animation: moveRight 1s ease-out forwards;
}

.heading-primary--sub {
  display: block;
  padding-right: 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  -webkit-animation: moveLeft 1s ease-out forwards;
          animation: moveLeft 1s ease-out forwards;
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-7.5rem);
            transform: translateX(-7.5rem);
  }
  80% {
    -webkit-transform: translateX(3.5rem);
            transform: translateX(3.5rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-7.5rem);
            transform: translateX(-7.5rem);
  }
  80% {
    -webkit-transform: translateX(3.5rem);
            transform: translateX(3.5rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10.9rem);
            transform: translateX(10.9rem);
  }
  80% {
    -webkit-transform: translateX(-1.3px);
            transform: translateX(-1.3px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0.9rem);
            transform: translateX(0.9rem);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10.9rem);
            transform: translateX(10.9rem);
  }
  80% {
    -webkit-transform: translateX(-1.3px);
            transform: translateX(-1.3px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0.9rem);
            transform: translateX(0.9rem);
  }
}

@-webkit-keyframes moveBottom {
  0% {
    opacity: 0;
    -webkit-transform: translatey(25rem);
            transform: translatey(25rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    -webkit-transform: translatey(25rem);
            transform: translatey(25rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
}

.btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  font-size: 1.6rem;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.35) scaleY(1.9);
          transform: scaleX(1.35) scaleY(1.9);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn--white::after {
  background-color: white;
}

.btn::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  z-index: -1;
  -webkit-transform: scaleX(1) scaleY(1);
          transform: scaleX(1) scaleY(1);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.btn--main-anim {
  -webkit-animation: moveBottom .5s ease-out .75s;
          animation: moveBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
/*# sourceMappingURL=style.css.map */