@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-7.5rem);
    }

    80% {
        transform: translateX(3.5rem);
    }

    100% {
        opacity: 100%;
        transform: translateX(0rem);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(10.9rem);
    }

    80% {
        transform: translateX(-2.5rem);
    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes moveBottom {
    0% {
        opacity: 0;
        transform: translatey(25rem);
    }

    100% {
        opacity: 100%;
        transform: translatey(0);
    }
}